@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello AGFUND World from .NET 7</h1>

 <h1 class="display-4" style="font-size:1vw;"> This is a Test App running on Azue App Service.</h1>
<p><a href="https://www.agfund.org/">AGFUND</a></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>

